---
import LinkedinIcon from '../icons/Linkedin.astro';
import GithubIcon from '../icons/Github.astro';
import MailIcon from '../icons/Mail.astro';
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
import SocialPill from '../components/SocialPill.astro';
---

<Layout	
	title="Portfolio de Bryan - Desarrollador y Programador web"
	description='Contrata a Bryan para crear tu aplicación web. Desarrollador Web. Especializado en crear aplicaciones únicas'
>
	<main>
		<section class="w-full lg:w-[800px] mx-auto py-10 gap-5">
			<img class="rounded-full w-[250px] h-[250px]" src="/img/perfil.jpeg" alt="Photo">
			<div class="mt-5">
				<h1 class="text-white text-5xl font-bold flex gap-4 pb-4">
					Hola, soy Bryan
					<a
						href="https://www.linkedin.com/in/bryanllana/"
						class="flex justify-center items-center"
						target="_blank"
						rel="noopener"
						>
						<Badge>Disponible para trabajar</Badge>
					</a>
				</h1>
				<h2 class="text-2xl opacity-80 text-wrap">
					<span class="text-yellow-200/90">Desarrollador web.</span>
					<span class="text-red-200/90">De Lima, Perú.</span>
					Especializado en crear aplicaciones interesantes.
				</h2>
				<nav class="flex gap-2 mt-6 flex-col md:flex-row">
					<SocialPill href="https://www.linkedin.com/in/bryanllana/">
						<LinkedinIcon class="w-6 h-6"/>
						Linkedin
					</SocialPill>
					<SocialPill href="https://github.com/BryanLlana">
						<GithubIcon class="w-6 h-6"/>
						GitHub
					</SocialPill>
					<SocialPill>
						<MailIcon />
						bryanllana14@gmail.com
					</SocialPill>
				</nav>
			</div>
		</section>
	</main>
</Layout>
