<section class="flex flex-col md:flex-row gap-10 justify-center items-center">
  <div class="[&>p]:mb-4 text-pretty">
    <p>
      Mi nombre es Bryan Joseph Tito Llana y soy de Lima, Perú. Actualmente estoy estudiando la carrera de Ingeniería de Sistemas e Informática. A los 20 años comencé a sumergirme por mi propia cuenta al fascinante mundo de la programación.
    </p>
    <p>
      Durante mi paso por la universidad, uno de mis logros destacados fue guiar a mis compañeros en el aprendizaje del desarrollo web. Mi especial interés se centra en el backend, especialmente en la utilización de API REST para diseñar servicios web. Sin embargo, también me preparé en el ámbito del frontend y disfruto compartir mis conocimientos en esta área.
    </p>
    <p>
      Dispongo de experiencia en el desarrollo de aplicaciones web, la cual puede ser evidenciada a través de los proyectos que he llevado a cabo. Estoy entusiasmado por aplicar mi experiencia y conocimientos adquiridos en futuros desafíos, contribuyendo al éxito de proyectos innovadores en el ámbito del desarrollo web.
    </p>
  </div>
  <img src="/img/perfil.jpeg" class="size-64 rounded-full">
</section>